<div class="p-4 min-h-screen rounded-lg shadow-lg mt-4 bg-white dark:bg-gray-900 text-gray-900 dark:text-white">
  <div class="p-6 bg-gradient-to-r from-blue-600 to-cyan-500 dark:from-indigo-700 dark:to-purple-500 text-white rounded-lg shadow-xl grid grid-cols-1 gap-6 justify-items-center">

    <!-- Sección para Listar Usuarios -->
    <div class="col-span-1 w-full max-w-4xl bg-gray-100 dark:bg-gray-800 p-4 rounded-lg shadow-md">
      <app-usuario-list [users]="users"></app-usuario-list>
    </div>

  </div>
</div>
