<div class="flex items-center justify-center min-h-full pt-20 pb-10 bg-gray-100 dark:bg-gray-950 rounded-lg transition-colors duration-500">
  <div class="w-full max-w-md p-6 rounded-2xl bg-white dark:bg-gradient-to-br dark:from-gray-800 dark:via-gray-900 dark:to-black text-gray-900 dark:text-white shadow-xl transition-all duration-500">
    <h2 class="text-3xl font-bold mb-6 text-center text-gradient bg-gradient-to-r from-gray-700 to-blue-600 dark:from-gray-300 dark:to-blue-400 bg-clip-text text-transparent">
      Crear Usuario
    </h2>

    <form [formGroup]="userForm" (ngSubmit)="createUser()" class="space-y-6">

      <!-- Nombre -->
      <div class="mb-5">
        <label for="username" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Nombre</label>
        <input
          type="text"
          id="username"
          class="w-full px-4 py-3 bg-gray-200 dark:bg-gray-800 bg-opacity-50 border border-gray-300 dark:border-gray-700 rounded-lg shadow-md focus:ring-2 focus:ring-cyan-500 focus:outline-none text-gray-900 dark:text-gray-200 placeholder-gray-500 dark:placeholder-gray-400 transition-all duration-300"
          formControlName="username"
          placeholder="Nombre del usuario"
        />
        <div *ngIf="userForm.get('username')?.invalid && userForm.get('username')?.touched" class="text-red-600 dark:text-red-400 text-sm mt-1">
          El nombre es requerido (máximo 30 caracteres).
        </div>
      </div>

      <!-- Apellidos -->
      <div class="mb-5">
        <label for="fullname" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Apellidos</label>
        <input
          type="text"
          id="fullname"
          class="w-full px-4 py-3 bg-gray-200 dark:bg-gray-800 bg-opacity-50 border border-gray-300 dark:border-gray-700 rounded-lg shadow-md focus:ring-2 focus:ring-cyan-500 focus:outline-none text-gray-900 dark:text-gray-200 placeholder-gray-500 dark:placeholder-gray-400 transition-all duration-300"
          formControlName="fullname"
          placeholder="Apellidos del usuario"
        />
        <div *ngIf="userForm.get('fullname')?.invalid && userForm.get('fullname')?.touched" class="text-red-600 dark:text-red-400 text-sm mt-1">
          El apellido es requerido (máximo 30 caracteres).
        </div>
      </div>

      <!-- Password -->
      <div class="mb-5">
        <label for="password" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Contraseña</label>
        <input
          type="password"
          id="password"
          class="w-full px-4 py-3 bg-gray-200 dark:bg-gray-800 bg-opacity-50 border border-gray-300 dark:border-gray-700 rounded-lg shadow-md focus:ring-2 focus:ring-cyan-500 focus:outline-none text-gray-900 dark:text-gray-200 placeholder-gray-500 dark:placeholder-gray-400 transition-all duration-300"
          formControlName="password"
          placeholder="Contraseña"
        />
        <div *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched" class="text-red-600 dark:text-red-400 text-sm mt-1">
          La contraseña es requerida (máximo 30 caracteres).
        </div>
      </div>

      <!-- Botón para Crear Usuario -->
      <button
        type="submit"
        class="w-full py-3 px-6 bg-blue-500 dark:bg-gradient-to-r dark:from-blue-600 dark:to-cyan-500 text-white font-semibold rounded-lg shadow-lg transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-cyan-500 focus:ring-opacity-50 transition-all duration-300"
        [disabled]="userForm.invalid"
      >
        Agregar Usuario
      </button>

      <!-- Botón Volver -->
      <button
        type="button"
        (click)="goBack()"
        class="w-full py-2 px-4 bg-gray-300 dark:bg-gradient-to-r dark:from-gray-700 dark:to-gray-900 text-gray-900 dark:text-white font-bold rounded-lg shadow-lg hover:bg-gray-400 dark:hover:from-gray-600 dark:hover:to-gray-800 transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50 transition-all duration-300"
      >
        ⬅ Volver
      </button>

    </form>
  </div>
</div>
